.product-content {
	background: antiquewhite;
	margin-bottom: 40px;
	border-radius: 10px;
	padding-bottom: 20px;
}
.product-content img {
	width: 100%;
	height: 357px;
	padding: 20px;
}
.info {
	padding-bottom: 20px;
}
.product-title h1 {
	padding: 40px;
	text-align: center;
	font-size: 50px;
	padding-bottom: 50px;
}
.product-content h1 {
	padding: 16px 19px;
	font-size: 30px;
}
.product-content p {
	padding-left: 24px;
	font-size: 20px;
}
.product-content a {
	padding: 0 26px;
}
.product-content a button {
	padding: 16px 100px;
	border: none;
	border-radius: 10px;
	background: aquamarine;
}